@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
*{
    padding: 0;
    margin: 0;
}

.emprendurismo_principaluno{
    background-color: rgb(182, 25, 25);
    width: 100%;
    height: 250px;
}

.imagenuno{
    position: relative;
    top: 100px;
    width: 100%;
    height: 80px;
}

h1{
    position: relative;
    top: -70px;
    text-align: center;
    color: white;
}

h4{
    position: relative;
    top: -30px;
    text-align: center;
    color: white;
}

hr{
    position: relative;
    top: -40px;
}
.escudo{
    position: relative;
    width: 100px;
    height: 100px;
    left: 370px;
}

h2{
    color: white;
    text-align: center;
    
}
.buscar{
    height: 30px;
    position: relative;
    bottom: 150px;
    left: 1000px;
}

.relleno{
    background-color: gray;
    width: 100%;
    height: 40px;
}

#header{
    
    width: 1000px;
   
background-color: gray;
}
.nav{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    left: 280px;
    z-index: 3;
}

ul,ol{
    list-style: none;
    z-index: 3;
}

.nav li a{
   background-color: gray;
   color: black;
   text-decoration: none;
   padding: 10px 15px;
   display: block;
   z-index: 3;
   
}

.nav li a:hover{
    background-color: rgb(2, 2, 36);
    color: white;
    z-index: 3;
}
.nav>li{
    float: left;
    z-index: 3;
}

.nav li ul{
    display:none ;
    position: absolute;
    min-width: 100px;
    z-index: 3;
}

.nav li:hover>ul{
   display: block;
   z-index: 3;
}

.tituloe{
    position: relative;
    top: 10px;

}

.poli{
    position: relative;
   
    width: 700px;
    height: 400px;
}

.slider-frame{
    width: 700px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul{
    display: flex;
   
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}


}

.footer{
    width: 100%;
    height: 300px;
    background-color:rgb(182, 25, 25); ;
}

.linea{
    position: relative
    ;
    top: -100px;
    left: 210px;
    width: 325px;
}

.titulofoter{
    position: relative;
    color: white;
    left: 210px;
    bottom: 100px;
    width: 350px;
}

.foterr{
    position: relative;
    top: 10px;
    left: 105px;
}

.subfoter{
    position: relative;
    color: white;
    left: 270px;
    bottom: 100px;
    width: 200px;
}

.h2foter{
    width: 500px;
    
    position: relative;
    left: 700px;
    bottom: 140px;
}

.datosfoter{
    width: 500px;

    position: relative;
    left: 700px;
    bottom: 800px;
}

.iconot{
    font-size: 50px;
    position: relative;
    left: 300px;
    bottom: 150px;
    color:white ;
}

.icontd{
    font-size: 50px;
    position: relative;
    left: 330px;
    bottom: 150px;
    color: white;
}

.noti{
    color: black;
    text-align: left;
    margin-bottom: 15px;
}

